{% extends "base.html" %}
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>更新学生信息</h1>
        </blockquote>

        <div class="layui-row">
        {%for student in data%}
            <div class="layui-col-md5">
                <form action="/face/updateStudent/" method="post" enctype="multipart/form-data"/>
                    {% csrf_token %}
                    <input type="text" name="sid" id="sid" placeholder="id" class="layui-input" value="{{ student.sid}}" />
                    <hr class="layui-bg-green">

                    <input type="text" name="sname" id="sname" placeholder="姓名" class="layui-input" value="{{ student.sname}}"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="cname" id="cname" placeholder="班级" class="layui-input" value="{{ student.cid.cname }}"/>
                    <hr class="layui-bg-green">

                    <input type="file" name="simg" id="simg"/>
                    <hr class="layui-bg-green">

                    <img src="{{ student.t_image }}" height="50px">
                    <hr class="layui-bg-green">

                    <input type="submit" value="修改" class="layui-btn"/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}