{% extends "basep.html" %}
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>家长基本信息</h1>
        </blockquote>
        {# 查询家长模块 #}
        <form action="/parent/search" method="get">
            <input placeholder="家长名" name="q" id="q">
            <input type="submit" class="layui-btn" value="搜索">
        </form>

        {# 显示所有家长模块 #}
        <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>电话</th>
            <th>孩子</th>
            <th>照片</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
      </thead>
      <tbody>
        {%for parent in data%}
            <tr>
                <td>{{parent.pid}}</td>
                <td>{{parent.pname}}</td>
                <td>{{parent.ptel}}</td>
                <td>{{parent.sid.sname}}</td>
                <td>
{#                    <img src="{{ MEDIA_URL }}{{ parent.simg }}" height="50px">#}
                    <img src="/static/media/{{ parent.pimg }}" height="50px">
                </td>
                <td>
                    {# 修改家长模块 #}
                    <a href="/parent/get/{{ parent.pid }}" class="layui-btn layui-btn-normal">
                        <i class="layui-icon">&#xe642;</i>修改
                    </a>
                </td>
                <td>
                    {# 删除家长模块 #}
                    <a href="/parent/delete/{{ parent.pid }}" class="layui-btn layui-btn-danger">
                        <i class="layui-icon">&#xe640;</i>删除
                    </a>
                </td>
            </tr>
        {%endfor%}
      </tbody>
        </table>

        {# 添加家长模块 #}
        <a href="{% url 'parent:add_page' %}" class="layui-btn layui-btn-warm">
            <i class="layui-icon">&#xe654;</i> 添加
        </a>
    </div>
{% endblock %}