{% extends "basep.html" %}
{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>更新家长信息</h1>
        </blockquote>

       <div class="layui-row">
        {%for parent in data%}
            <div class="layui-col-md5">
                <form action="/parent/updateParent/" method="post" enctype="multipart/form-data"/>
                    {% csrf_token %}
                    <input type="text" name="pid" id="pid" placeholder="id" class="layui-input" value="{{ parent.pid}}" />
                    <hr class="layui-bg-green">

                    <input type="text" name="pname" id="pname" placeholder="姓名" class="layui-input" value="{{ parent.pname}}"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="ptel" id="ptel" placeholder="电话" class="layui-input" value="{{ parent.ptel}}"/>
                    <hr class="layui-bg-green">


                    <input type="text" name="sname" id="sname" placeholder="孩子" class="layui-input" value="{{ parent.sname }}"/>
                    <hr class="layui-bg-green">

                    <input type="file" name="pimg" id="pimg"/>
                    <hr class="layui-bg-green">


                    <input type="submit" value="修改" class="layui-btn"/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}